body{
    background-color: midnightblue;
}

.navbar{
    height: 55px;
    width: auto;
}

.container1{
    text-size-adjust: 2%;
    height: 50px;
}

.info{
    margin-left: 86px;
    color:white; 
}

.phone{
    color:white;
    margin-left:100px;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.navbar-brand{
    color: white;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 18px; 
    /* text-align: left;   */
}

#fb{
    color:white;
    margin-top:10px;
    /* margin-left:40px; */
    padding-right: -10px;
}

#insta{
    color:white;
    margin-bottom: 116px;
    margin-right: 50px;
    padding-left: 5px;
    
}

.container{
    background-color: midnightblue;
    height: 180px;
    width: auto;
    margin-bottom: -50px;
    padding:1px;
}

.logo{
    margin-bottom: -100px;
    height: 160px;
    width: 170px;
}

h1{
    font-weight: 700;
    font-size: 50px;
    margin-top: -10px;
}
.header{
    margin-left: 120px;
    margin-top: -10px;
    
}

.container2{
    background-image: url("7CD28916-.jpg"); 
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    object-fit: cover;
    background-position: center;
    

} 

.container3{
    width:auto;
    height: auto;
    background-color: rgb(218, 218, 247);
    /* text-align: center; */
    color: white;
    border-width: 40px;
    border-color: white;
    background-position: center;
    /* margin-top:-65px;
    padding:20px; */



}
/* .wrap{
    padding:30px;
} */
/* .logo2{
    margin-left:0px;
    margin-top: -40px;
} */
/* .sidecont{
    color:black;
    height:auto;
    width:auto;
    margin-top: -150px;
    font-size: 35px;
    margin-left:380px;
    padding-bottom: 80px;

} */
/* .firstimg{
    background-image: url("7CD28916-.jpg");
    
    
    
    object-fit: cover;
    width:800px;
    height: 500px;
    background-size: contain;
    background-position: 100% 40% 10% 30%;
    margin-left: 400px;
    margin-bottom: -50px;
    
    
}  */
/* .img-fluid{
    height: 400px;
    width: auto;
} */

/* .container2 {
    background-image: url("7CD28916-.jpg");
    background-repeat: no-repeat;
    background-position: center;

    height:400px;
    width:400px;
} */

@media screen and (max-width: 480px) {
     
    .phone{
        margin-left: 100px;
    }
    .navbar-brand{
        color:white;
        margin-left: 35px;
        width: auto;
    }
    .navbar{
        height:140px;
    }

    .info{
        padding-left:60px;
        /* margin-left: 20px;
        margin-bottom: 15px;
        position: absolute2;
        float:left; */
    }

    #fb{
         color:white;
        
    }
    #insta{
        color:white;
        margin-right:4px;
        
    }

    h1{
        font-weight: 600;
        font-size: 40px;
        text-align: left;
        margin-right: 30px;
        margin-top: -45px;
        
    }

    
  }