body{
    background-image: url("https://i.pinimg.com/originals/13/d6/81/13d681b20058a2d6261432a1b69cd781.jpg");
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

.navbar{
    height: 80px;
    width: auto;
    background-color: rgb(55, 225, 228);
    
}

.container1{
    padding:30px
}

.info{
    height:30px;
    width: 30px;
    margin-left:690px;;
    font-size: 40px;
    margin-top: -40px;
}

.phone{
    color:white;
    margin-left:110px;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;     
}

.navbar-brand{
    color: white;
    margin-right: -100px;
    margin-top: -12px;
    font-size: 18px; 
}

.fa-facebook{
    color:black;
    font-size:50px;
    margin-top:50px;
    height:3px;
}

.fa-instagram{
    font-size: 50px;
    color: black;

}

#fb{
    color:white;
    margin-bottom:100px;
    margin-right: 102px;
    font-size: 40px;
    padding: 50px;
}

#insta{
    color:white;
    font-size: 40px;
    margin-left: 600px;
    padding-left: 5px;
    margin-bottom: 400px;
    
}

.container{
    background-image: url("https://wallpaperaccess.com/full/2024144.jpg");
    width:90%;
    background-repeat: no-repeat;
    background-size: 100% 75%;
}

.logo{
    margin-bottom: -100px;
    height: 160px;
    width: 170px;
}

h1{
    font-weight: 700;
    font-size: 50px;
    margin-top: -10px;
} 

.header{
    margin-left: 120px;
    margin-top: -10px;   
}

.container2{
    background-image: url("7CD28916-.jpg"); 
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    object-fit: cover;
    background-position: center;  
} 

.container3{
    width:auto;
    height: auto;
    background-color:darkslategrey;
    text-align: center;
    color: white;
    border-width: 40px;
    border-color: white;
    background-position: center;
    margin-top:-65px;
    padding:5px; 
}

.wrap{
    padding:30px;
    background-image: url("https://img.freepik.com/free-vector/islamic-geometric-seamless-pattern-background-wallpaper-luxury-batik-style_206846-221.jpg?size=338&ext=jpg");
}

.logo2{
    margin-left:0px;
    margin-top: -40px;
}

.sidecont{
    color:rgb(34, 198, 223);
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h2,h3,h4{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(34, 198, 223);
}

.container4{
    max-width: 100%;
    height: 100%;
}

.nav-item{
    font-weight: 700;
    margin-left: 60px;
    padding:5px;
}

.nav-link{
    color: black;
}

.card1{
    background-color: white;
    margin-top: 20px;
    margin-left:180px;
    padding:10px;
    max-height:auto;
    width: 300px;
    background-position: center;
    color:black;
    object-fit: cover;
    text-align: center;
    font-family: "Lucida Bright";
}

#c1{
    margin-left:-5px;
}

.card2{
    background-color: white;
    margin-top: -525px;
    margin-left:585px;
    padding:10px;
    max-height:auto;
    width: 300px;
    color:black;
    text-align: center;
    font-family: "Lucida Bright";
}

#c2{
    margin-left:-5px;
}

.card3{
    background-color: white;
    margin-top: -545px;
    margin-left:999px;
    padding:10px;
    max-height:auto;
    width: 300px;
    color:black;
    text-align: center;
    font-family: "Lucida Bright";
}

#c3{
    margin-left:-5px;
}

#footer {
    height: 400px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: darkslategrey;
    border-top: 8px;
    border-top-style:solid;
    border-top-color:  #4f80e0;
    text-align: center;
    font-family: "Lucida Bright";
    font-weight: 800;
    font-size: 30px; 
    padding: 1px;
    line-height: 200px;
    color: #cccccc;
    
}

.footlogo{
    height:400px;
    width:400px;
    float:left;
}

.map{
    font-size: 20px;
    margin-bottom:40px;
}
.fa-copyright{
    color:black;   
}

                    /* About us page starts here*/

.aboutus{
    margin-left:120px;
    text-align: center;
    height: 600px;
    max-width:800px;
    background-color:darkslategrey;
    padding:30px;
}

.wrap2{
    padding:10px;
    margin-left:140px;
    width:80%;
    background-image: url("https://img.freepik.com/free-vector/islamic-geometric-seamless-pattern-background-wallpaper-luxury-batik-style_206846-221.jpg?size=338&ext=jpg");
}

@media screen and (max-width: 480px) {
     
    .phone{
        margin-left: 100px;
    }
    .navbar-brand{
        color:white;
        margin-left: 35px;
        width: auto;
    }
    .navbar{
        height:140px;
    }

    .info{
        padding-left:60px;
    }

    #fb{
         color:white;
        
    }

    #insta{
        color:white;
        margin-right:4px;   
    }

    .container{
        background-image: url("https://img.freepik.com/free-vector/islamic-geometric-seamless-pattern-background-wallpaper-luxury-batik-style_206846-221.jpg?size=338&ext=jpg");
        /* background-color: rgb(201, 229, 230); */
        /* height: 0px;
        width: auto;
        margin-bottom: 0px;
        padding:0px; */
    }

    h1{
        font-weight: 600;
        font-size: 40px;
        text-align: left;
        margin-right: 30px;
        margin-top: -45px;   
    }

    .sidecont{
        color:rgb(34, 198, 223);
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    .container3{
        width:auto;
        height: 675px;
        background-color:darkslategrey;
        text-align: center;
        color: white;
        border-width: 40px;
        border-color: white;
        background-position: center;
        margin-top:-65px;
        margin-left:-20px;
        padding:5px; 
    }
 
    .logo2{
        margin-left:0px;
        margin-top: -10px;
        margin-bottom: -25px;
    }
    .card1{
        background-color: white;
        margin-top: 520px;
        margin-left:35px;
        padding:10px;
        max-height:auto;
        width: 350px;
        color:black;
        text-align: center;
        font-family: "Lucida Bright";
    }

    .card2{
        background-color: white;
        margin-top: 30px;
        margin-left:35px;
        padding:10px;
        max-height:auto;
        width: 350px;
        color:black;
        text-align: center;
        font-family: "Lucida Bright";
    }

    .card3{
        background-color: white;
        margin-top: 20px;
        margin-left:35px;
        padding:10px;
        max-height:auto;
        width: 350px;
        color:black;
        text-align: center;
        font-family: "Lucida Bright";
    }
    #c1{
        width:340px;

    }
    
  }